<!-- Card Item -->
<div
    class="my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-gray-200 dark:bg-emerald-800 duration-300 hover:-translate-y-1">
    <!-- Clickable Area -->
    <a href="{{ .Page.Permalink }}" class="cursor-pointer">
        <figure>
            <!-- Image -->
            <img
                src="{{ .image }}"
                class="rounded-t h-72 w-full object-cover" />

            <figcaption class="p-4">
                <!-- Title -->
                <p
                    class="text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300">
                    <!-- Post Title -->
                    {{ .title }}
                </p>

                <!-- Description -->
                <small
                class="leading-5 text-gray-500 dark:text-gray-400">
                    {{ .description }}
                    <!-- Post Description -->
                </small>
            </figcaption>
        </figure>
    </a>
</div>