{{ define "main" }}
            <!-- Code block starts -->
            <dh-component>
                <div class="container flex justify-center mx-auto pt-16">
                    <div>
                        <p class="text-gray-500 text-lg text-center font-normal pb-3">Meet The Team</p>
                        <h1 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto">The People Behind Junia</h1>
                    </div>
                </div>
                <div class="w-full bg-gray-100 px-10 pt-10">
                    <div class="container mx-auto">
                        <div role="list" aria-label="Behind the scenes People " class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                            
                            {{ range .Site.Data.team }}
                            <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                                <div class="rounded overflow-hidden shadow-md bg-white">
                                    <div class="absolute -mt-20 w-full flex justify-center">
                                        <div class="h-32 w-32">
                                            <img src="https://cdn.tuk.dev/assets/photo-1564061170517-d3907caa96ea.jfif" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                                        </div>
                                    </div>
                                    <div class="px-6 mt-16">
                                        <h1 class="font-bold text-3xl text-center mb-1">{{ .name }}</h1>
                                        <p class="text-gray-800 text-sm text-center">{{ .job }}</p>
                                        <p class="text-center text-gray-600 text-base pt-3 font-normal pb-5">{{ .description }}</p>
                                        
                                    </div>
                                </div>
                            </div>
                            {{ end }}


                        </div>
                    </div>
                </div>
            </dh-component>
{{ end }}