/* font */

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.ttf?k0g81o') format('truetype'),
    url('./fonts/icomoon.woff?k0g81o') format('woff'),
    url('./fonts/icomoon.svg?k0g81o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: '\f09a';
}
.icon-get-pocket:before {
  content: '\f265';
}
.icon-line:before {
  content: '\e90e';
}
.icon-hatenabookmark:before {
  content: '\e90f';
}
.icon-discord:before {
  content: '\e907';
}
.icon-email:before {
  content: '\e902';
}
.icon-message:before {
  content: '\e900';
}
.icon-create:before {
  content: '\e901';
}
.icon-access_time:before {
  content: '\e903';
}
.icon-file_download:before {
  content: '\e90b';
}
.icon-folder:before {
  content: '\e908';
}
.icon-desktop_windows:before {
  content: '\e906';
}
.icon-keyboard_arrow_left:before {
  content: '\e904';
}
.icon-keyboard_arrow_right:before {
  content: '\e905';
}
.icon-keyboard_arrow_up:before {
  content: '\e90d';
}
.icon-remove_red_eye:before {
  content: '\e90c';
}
.icon-person:before {
  content: '\e90a';
}
.icon-lightbulb_outline:before {
  content: '\e909';
}
.icon-price-tag:before {
  content: '\e935';
}
.icon-sphere:before {
  content: '\e9c9';
}
.icon-link:before {
  content: '\e9cb';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-youtube:before {
  content: '\ea9d';
}
.icon-github:before {
  content: '\eab0';
}
body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  font-weight: 300;
}
.content {
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* slide */

@keyframes ScaleAni {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.swiper-slide .s-fade-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.swiper-slide .s-fade-txt {
  animation: FadeAni 0.5s ease 1s 1 normal both;
}
@keyframes FadeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrap {
  overflow: hidden;
}

.swiper-wrapper img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.active {
  display: block !important;
}
.slide-wrap img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.slide-class {
  margin: 0 auto;
}
.animation-slide {
  position: relative;
}
.swiper-button-prev:after,
.swiper-conteiner-rtl,
.swiper-button-next:after {
  color: #fff;
}
.swiper-pagination-bullet {
  background: #fff;
}

/* menu */
.mopen {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0);
  position: relative;
  z-index: 1000;
}

.mopen span {
  transition: all 0.3s;
  transform: rotate(0deg);
  width: 50px;
  height: 2px;
  display: block;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
}
.mopen .top {
  transform: translateY(-17px);
}
.mopen .bottom {
  transform: translateY(17px);
}
.mopen.is-open span {
  background: #fff;
}
.mopen.is-open .middle {
  background: rgba(255, 255, 255, 0);
}
.mopen.is-open .top {
  transform: rotate(-45deg) translateY(0px);
}
.mopen.is-open .bottom {
  transform: rotate(45deg) translateY(0px);
}

/* menu bg */
#overlay {
  visibility: hidden;
  display: flex;
  transition: 0.3s linear;
  position: absolute;
  z-index: 900;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0;
}
#overlay.open {
  visibility: visible;
  opacity: 0.95;
}
body.scroll-lock {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.scroll-top {
  background-color: #222;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  cursor: pointer;
}

/* form */

input[type='text'],
textarea {
  width: 100%;
  max-width: 72em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
input,
textarea {
  -webkit-appearance: none;
}
input[type='checkbox'] {
  -webkit-appearance: checkbox;
}
span.begin-task-list + ul {
  padding-left: 0;
  list-style: none;
}

/* pagination */

.pagination {
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  border: 1px solid #dee2e6;
}
.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
}

/* toc */

#TableOfContents > ul {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0.5em 1em;
  line-height: 2;
}
#TableOfContents > ul:before {
  content: 'Table of Contents';
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}
#TableOfContents ul {
  list-style-type: none;
}
#TableOfContents li {
  padding-top: 0;
}
#TableOfContents li > ul {
  padding-left: 1em;
  width: 100%;
}
#TableOfContents a {
  display: block;
  border-bottom: dashed 1px lightgray;
}

/* hljs */
.hljs-ln-code {
  padding-left: 0.8em !important;
}
.content code table.hljs-ln {
  margin: 0;
}
.content code table.hljs-ln tr {
  border-bottom-width: 0px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #121212;
}

/* share */
.share-button {
  padding-top: 10px;
  padding-bottom: 8px;
  transition: all 0.3s;
}
.share-button:hover {
  opacity: 0.7;
}
.twitter {
  background-color: #1da1f2;
}
.line {
  background-color: #00c300;
}
.facebook {
  background-color: #3b5998;
}
.pocket {
  background-color: #ef4056;
}
.hatena {
  background-color: #00a4de;
}
.url {
  background-color: #222;
}
