{{ define "main" }}
{{ partial "section-header" (dict "title" "Jungle Trekking In Bukit Lawang" "description" "The adventure of a lifetime") }}
<section class="py-10 px-12">
    <!-- Card Grid -->
    <div
        class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {{ range .Paginator.Pages }}
        {{ partial "card.html" (dict "Page" . "image" .Params.thumb "title" .Title "description" .Summary) }}
    {{ end }}
    </div>
</section>
{{ end }}