{{- $seo := .seo -}}
<meta name="description" content="{{ $seo.description }}">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ $seo.site_name }}">
<meta property="og:description" content="{{ $seo.description }}">
<meta property="og:url" content="{{ .page.Permalink }}">
<meta property="og:type" content="{{ $seo.type }}">
<meta property="og:locale" content="{{ $seo.locale }}">
<meta name="twitter:card" content="{{ $seo.twitter_card }}">
<meta name="twitter:site" content="@tech_chiba">
{{ with $seo.canonical }}
<link rel="canonical" href="{{ . }}">
{{ end }}
<meta name="twitter:description" content="{{- $seo.description }}">
<meta property="article:published_time" content="{{- $seo.published_time }}">
{{- with $seo.updated_time }}
<meta property="article:updated_time" content="{{- $seo.updated_time }}">
{{- end }}