    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{{ .Params.feature | relURL }}" alt="">
            <div class="s-fade-txt  p-10 bg-opacity-50 rounded-full">
                <h1 class="text-4xl text-white text-center font-extrabold"
                    style=" text-shadow:
                    -1px -1px 0 rgb(31 41 55),  
                     1px -1px 0 rgb(31 41 55),
                     -1px 1px 0 rgb(31 41 55),
                      1px 1px 0 rgb(31 41 55);">
                    {{ .Title }}
                </h1>
            </div>
        </div>
    </div>
