<div class="w-full px-2 lg:max-w-full lg:flex mt-3 lg:px-0 hover4">
    {{ if .Params.image }}
    <img id="thumb" alt="{{.Title}}" class="w-auto lg:h-48" src="{{ .Params.image | relURL }}" />
    {{ else }}
    <img id="thumb" alt="{{.Title}}" class="w-auto lg:h-48" src="{{ "/img/default.jpg" | relURL }}">
    {{ end }}
    <div
        class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r pl-4 p-2 flex flex-col justify-between leading-normal max-w-full w-full">
        <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl">{{.Title}}</div>
            <p class="text-sm text-gray-700 flex items-center mb-2">
                <time><span class="icon-access_time mr-1"></span>{{.Date.Format "2006/01/02"}}</time>
            </p>
            <p class="text-gray-700 text-base">{{ substr .Summary 0 130 | plainify }}...</p>
        </div>
    </div>
</div>